{% extends 'base.html' %}

{% block head %}
<title>Index</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Task Master Home Page</h1>
    <h4 style="text-align: right"><a href="/nextpage">Next Page</a></h4>    

    <h4 style="text-align: center">There are no tasks. Create one below!</h4>

    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
    </table>

 
    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </div>
</div>
{% endblock %}